body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0 100px;
    height: 100vh;
}
@media only screen and (max-width: 600px) { 
    body {
       margin: 10px;
    }
}
@media only screen and (min-width: 1000px){
    body {
        margin: 0 300px;
    }
}
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    column-gap: 1.26rem;
}

nav li {
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

nav li a:hover {
    color: darkgoldenrod;
}
nav li a:active {
    color: darkorange;
}

#aboutMe {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    column-gap: 1.25rem;
}
#children2 {
    flex-grow: 1;
}

#children2 img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    margin-top: 0.64rem;
}
#children1 {
    flex-grow: 3;
}

i {
    font-size: 2rem;
}
#skills div {
    display: flex;
    justify-content: space-around;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

a {
    text-decoration: none;
    color: inherit;
}

#projects li {
    cursor: pointer;
}

.toHide1,
.toHide2,
.toHide3 {
    display: none;
}